
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 class="my-5 text-center">PRODUCTS</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="filterProductsInput" placeholder="Type to search">
    <button class="btn btn-primary" type="button" id="filterProducts" onclick="Search()">Search</button>
</div>
<div id="productTable" class="container">

</div>

<script src="~/Scripts/CustomJS/generic.js"></script>
<script src="~/Scripts/CustomJS/userProduct.js"></script>