
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 class="my-5 text-center">CATEGORIES</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="filterCategoryInput" placeholder="Type to search">
    <button class="btn btn-primary" type="button" id="filterCategories" onclick="Search()">Search</button>
</div>
<div class="container" id="categoryTable">

</div>

<script src="~/Scripts/CustomJS/generic.js"></script>
<script src="~/Scripts/CustomJS/userCategory.js"></script>