
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h2 class="text-center my-5">REGISTER</h2>
    <div> 
    </div>
</body>
</html>
